
@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.features {
  &-title {
    color: $white;
    padding: $padding15;
    margin: $margin15;
    font-family: $rob;
    text-transform: uppercase;
  }
  &-img--left {
    position: absolute;
    left: -57%;
    top: 10%;
    z-index: 2;
  }
  &-wrapper {
    position: relative;
  }
  &-cont {
    background: linear-gradient(90deg, $orange 50%, $black 50%);
    min-height: 650px;

  }
  &-right {
    color: $white;
    &__list {
      padding: $padding10;
      border-radius: rem(3px);
      & > li {
        display: flex;
      }
      &-icon {
        color: $orange;
      }
    }
    &__list > li > h3 {
      font-weight: bold;
    }
  }
  &-left {
  background-color: $orange;
  min-height: 100%;
  position: relative;
  margin-top: -$margin25;
  }
  &-list {
    width: 100%;
    margin-left: auto;
    margin-top: -50px;
    color: $white;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $white;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__item {
      position: relative;
      width: 50%;
      z-index: 1;
      padding: 0 $padding20;
      & > p {
        margin-bottom: 0;
        padding: 3px;

      }
      & > h3 {
        font-weight: bold;
      }
      &-icon {
        background: $orange;
        position: absolute;
        border-radius: 50%;
        &--1 {
          top: 50%;
          right: -11%;
          transform: translateY(-50%);
        }
        &--2 {
          top: 50%;
          left: -11%;
          transform: translateY(-50%);
        }
        &--3 {
          top: 50%;
          right: -11%;
          transform: translateY(-50%);
        }
      }
      &--1 {
        margin-right: auto;
        position: relative;
      }
      &--2 {
        margin-left: auto;
        position: relative;
      }
      &--3 {
        margin-right: auto;
        position: relative;
      }
    }
  }
}