@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";

.header-wrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header {
  padding: 0;
  &-container {
    background-color: $black;
    border-bottom: 1px solid $white;
  }
  &-logo {
    color:$white;
    font-family: $rob;
    font-size: $logo;
  }
  &-socials {
    position: relative;
    &:after {
      content:'';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem(2px);
      height: rem(15px);
      background-color: $gray;
    }
    &-icon {
      color: $white;
      transition: all .3s;
      margin: 0;
      transition: all .3s;
      &:hover {
        color: $orange;
      }
    }
    &__item {
      display: inline-block;
      margin-right: rem(15px);
    }
  }
  &-worktime {
    color: $white;
    position: relative;
    &:after {
      content:'';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem(2px);
      height: rem(15px);
      background-color: $gray;
    }
    &__item {
      padding: $padding10;
    }
  }
  &-phone {
    color: $white;
    font-family: 'russo', Helvetica, sans-serif;
    padding: $padding10;
    transition: all .3s;
    &:hover {
      text-decoration: none;
      color: $orange;
    }
    &:hover > .whatsapp {
      color: $orange;
    }
    &:focus {
      color: $orange;
      text-decoration: none;
    }
    & > .whatsapp {
      margin-left: $margin10;
    }
  }
}


    