@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

// JS STYLES BOTTOM

.main-wrap {
  min-height: 100%;
  overflow: hidden;
}

.howitworks {
  &-cont {
    min-height: 650px;
  }
  &-wrap {
    position: relative;
  }
  &-left {
    position: relative;
    margin-top: $margin25;
    &__img {
      position: absolute;
      top: 70%;
      left: -50%;
      transform: translateY(-50%);
    }
    &__desc {
      background-color: $white;
      color: $black;
      width: 70%;
      min-height: 350px;
      padding: $padding20;
      border-radius: rem(3px);
    }
  }
  &-right {
      color: $white;
      padding: $padding15;
    &__cont {
      position: relative;
    }
    &__title {
      color: $white;
      font-family: $rob;
      padding: $padding15;
      margin-top: $margin15;
      text-transform: uppercase;
    }
    &__tab {
      border-radius: initial;
      background-color: $white;
      position: relative;
      border: none;
      color: $black;
      margin-bottom: $margin10;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $orange;
        clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
      }
      &::after {
        content: '';
        position: absolute;
        width: rem(10px);
        height: rem(10px);
        border-right: 3px solid $white;
        border-bottom: 3px solid $white;
        left: 5%;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: all .3s;
        will-change: transform;
      }
    }
    &__line {
      width: 150px;
      height: 2px;
      border: 2px dashed $orange;
      position: absolute;
      top: 50%;
      left: -55%;
      z-index: 10;
      transition: all .3s;
      opacity: 0;
    }
  }
}

.js-tab-active {
  &::after {
    content: '';
    position: absolute;
    width: rem(10px);
    height: rem(10px);
    border-right: 3px solid $white;
    border-bottom: 3px solid $white;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
}

.js-line-active {
  opacity: 1;
}