.container-fluid.features-cont(id="features")
  .container.features-wrapper
    img.features-img--left.img-fluid(src="img/car1-min.png" alt="car 1")
    .row
      .col-lg-12.text-center
        h2.features-title как работаем?
      .col-lg-6.features-left 
        .features-list__cont.d-flex
          ul.features-list
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--1
                h2 Заявка или звонок
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatibus quos ss
                .features-list__item-icon.features-list__item-icon--1
                  i(class="icon-search" style="font-size: 45px")
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--2.text-right
                h2 Поиск авто
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatibus quos 
                .features-list__item-icon.features-list__item-icon--2
                  i(class="icon-handshake-o" style="font-size: 45px")
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--3
                h2 Покупка
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. uptatibus quos 
                .features-list__item-icon.features-list__item-icon--3
                  i(class="icon-cab" style="font-size: 45px")
      .col-lg-6.features-right
        h3 Какие сложности?
        ul 
          li фывфыв
          li фыв фыв
          li фывфывфывфы
          li фывфывфыв
          li фывфывфыв


