.container-fluid.features-cont
  .row
    .col-lg-12.text-center
      h1.features-title PRIVeT QU
  .row
    .col-lg-6.features-left
      img.img-fluid.features-left__img(src="img/car1-min.png" alt="car 1")
    .col-lg-6.features-right

  