.container-fluid.features-cont(id="features")
  .container.features-wrapper
    img.features-img--left.img-fluid(src="img/car1-min.png" alt="car 1")
    .row
      .col-lg-12.text-center
        h2.features-title как работаем?
      .col-lg-6.features-left 
        .features-list__cont.d-flex
          ul.features-list
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--1
                h3 Заявка
                p Напишите или позвоните нам, любым удобным способом. Менеджер свяжется с Вами, уточнит детали, приедет в удобное для Вас время для подписания договора.
                .features-list__item-icon.features-list__item-icon--1
                  i(class="icon-handshake-o" style="font-size: 45px")
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--2.text-right
                h3 Поиск авто
                p Затем, мы занимаемся поиском автомобиля. После осмотра, фотографии лучших вариантов отправим Вам на рассмотрение.
                .features-list__item-icon.features-list__item-icon--2
                  i(class="icon-search" style="font-size: 45px")
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--3
                .h3 Покупка
                p Встречаемся у выбранного автомобиля. Эксперт расскажет о автомобиле, и предоставит диагностический лист с результатами осмотра и рекомедациями. Вы принимаете решение о покупке.
                .features-list__item-icon.features-list__item-icon--3
                  i(class="icon-cab" style="font-size: 45px")
      .col-lg-6.features-right
        .col-lg-12
          ul.features-right__list
            li 
              .features-right__list-icon
                i(class="icon-ok" style="font-size: 45px")
              .features-right__cont
                h3 Экономия времени
                p Вы тратите не более двух часов времени на подбор вашего авто.
            li
              .features-right__list-icon
                i(class="icon-ok" style="font-size: 45px")
              .features-right__cont
                h3 Никаких изнурительных поездок
                p Вы не ездите на осмотр заведомо дефектных авто.
            li 
              .features-right__list-icon
                i(class="icon-ok" style="font-size: 45px")
              .features-right__cont
                h3 Обоснованный торг
                p В 95% случаев потраченные на нас средства окупаются благодаря торгу
            li 
              .features-right__list-icon
                i(class="icon-ok" style="font-size: 45px")
              .features-right__cont
                h3 Ежедневные отчеты
                p Получаете каждый день отчеты о проверенных авто
            li 
              .features-right__list-icon
                i(class="icon-ok" style="font-size: 45px")
              .features-right__cont
                h3 100% гарантия возврата средств
                p Если мы не сможем найти для Вас требуемый автомобиль в установленные сроки — вернем предоплату в полном обьеме.



