.container-fluid.footer-cont.d-flex.justify-content-center.align-items-center 
  .container
    .row.d-flex.justify-content-center
      .col-lg-5.footer-logo.d-flex.flex-column.justify-content-start.align-items-center
        h3.align-self-start.footer-section-title О компании
        p.footer-section-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates nisi aperiam numquam magnam consequatur, veritatis, ipsam tenetur laboriosam, minima qui odio nobis. Veniam error enim quod saepe expedita itaque pariatur!
      .col-lg-3.d-flex.flex-column.justify-content-start.align-items-center 
        h3.align-self-start.footer-section-title Информация
        ul.footer-info.align-self-start
          li.footer-info__item 
            a(href="#").footer-info__item-link На главную
          li.footer-info__item  
            a(href="#").footer-info__item-link Что мы проверяем?
          li.footer-info__item  
            a(href="#").footer-info__item-link Как это работает?
          li.footer-info__item  
            a(href="#").footer-info__item-link Цены
          li.footer-info__item  
            a(href="#").footer-info__item-link Отзывы
      .col-lg-4.d-flex.flex-column.justify-content-start.align-items-center
        h3.d-flex.justify-items-start.footer-section-title Контакты
        a(href="tel:+79817554101").footer-contacts__phone +7 (981) 755 41 01
          i(class="footer-socials-icon whatsapp fa fa-whatsapp fa-1x")
        ul.footer-contacts
          li.footer-contacts__item
            a(href="#").footer-contacts__item-link
              i(class="footer-socials-icon fa fa-vk fa-2x")
            a(href="#").footer-contacts__item-link
              i(class="footer-socials-icon fa fa-instagram fa-2x") 



