.container-fluid.header-second.header-second__container(id="greetings")
  .row.header-second__row
    .col-lg-6.header-second__container--left
      .row
        .col-lg-3.offset-md-7.header-second__btn-cont
          a.btn.header-second__btn Опытные эксперты
      .row
        .col-lg-3.offset-md-5.header-second__btn-cont
          a.btn.header-second__btn Расширенная гарантия
      .row
        .col-lg-3.offset-md-3.header-second__btn-cont
          a.btn.header-second__btn Экономия до 50 тыс. рублей
      .row
        .col-lg-3.offset-md-1.header-second__btn-cont
          a.btn.header-second__btn Официальный договор
      .row
        .col-lg-3.offset-md-3.header-second__btn-cont
          a.btn.header-second__btn Сопровождение в ГАИ
      .row
        .col-lg-3.offset-md-5.header-second__btn-cont
          a.btn.header-second__btn Больше 5 лет опыта
    .col-lg-6.offset.header-second__container--right
      .container-fluid
        .row
          h1.col-lg-12.text-center.header-second__title Найдем для Вас лучший автомобиль с пробегом!
        .row.d-flex.justify-content-center
          form#submit-form1.col-xl-8.col-lg-10.col-md-10.col-sm-12.header-second__form.text-center
            fieldset.header-second__form-fieldset
              legend.header-second__form-legend Оставьте заявку 
              input.hidden-input(type='hidden', name='project_name', value='autopodbor')
              input.hidden-input(type='hidden', name='admin_email', value='admin@albru.ru')
              input.hidden-input(type='hidden', name='form_subject', value='Заявка на автоподбор')
              .form-group.row
                label.col-lg-6.col-form-label.header-second__form-lbl(for='name') Ваше имя
                input#name.header-second__input-text.col-lg-6.form-control(type='text', placeholder='Имя', name='name' required)
              .form-group.row
                label.col-lg-6.col-form-label.header-second__form-lbl(for='phone') Ваш телефон
                input#phone.header-second__input-text.col-lg-6.form-control(type='tel', name='phone', placeholder='Телефон' required)
              button.btn.header-second__form-btn(type='submit') Отправить 
              .form-group.col-lg-12.d-flex.justify-content-center
                input.header-second__form-checkbox(type="checkbox" value="" id="form-check-input" required checked)
                label.header-second__form-checklbl(for="form-check-input") Я прочитал и согласен с 
                  span.header-second__form-privacy обработкой данных
              .form-group.col-lg-12.d-flex.justify-content-center.popup__DoneJS1
                i(class="icon-ok", style="color: green;")
                span Спасибо! Мы свяжемся с Вами в ближайшее время.
