.container-fluid.header-second.header-second__container
  .row
    .col-lg-6.header-second__container--left
      .row
        .col-lg-3.offset-md-7.header-second__btn-cont
          a.btn.header-second__btn Проверяем документы
      .row
        .col-lg-3.offset-md-5.header-second__btn-cont
          a.btn.header-second__btn Осматриваем кузов
      .row
        .col-lg-3.offset-md-3.header-second__btn-cont
          a.btn.header-second__btn Диагностируем электрику
      .row
        .col-lg-3.offset-md-1.header-second__btn-cont
          a.btn.header-second__btn Проверяем ходовую часть
      .row
        .col-lg-3.offset-md-3.header-second__btn-cont
          a.btn.header-second__btn Проверяем тормозную систему
      .row
        .col-lg-3.offset-md-5.header-second__btn-cont
          a.btn.header-second__btn Проверяем подвеску
    .col-lg-6.offset.header-second__container--right
      .container-fluid
        .row
          h1.col-lg-12.text-center.header-second__title Найдем для Вас лучший автомобиль с пробегом!
        .row.d-flex.justify-content-center
          form.col-xl-6.col-lg-8.col-md-10.col-sm-12.header-second__form.text-center
            fieldset.header-second__form--fieldset
              legend.header-second__form--legend Оставьте заявку 
              .form-group.row
                label.col-lg-6.col-form-label.header-second__form--lbl(for='user-name') Ваше имя
                input#user-name.header-second__input--text.col-lg-6.form-control(type='text', value='', placeholder='Имя')
              .form-group.row
                label.col-lg-6.col-form-label.header-second__form--lbl(for='user-phone') Ваш телефон
                input#user-phone.header-second__input--text.col-lg-6.form-control(type='text', value='',placeholder='Телефон')
              .form-group.row.d-flex.justify-content-center
                button.btn.header-second__form--btn Отправить

