.container-fluid.header-container.fixed-top
  .row
    .header-logo.col-lg-3.d-flex.justify-content-center.align-items-center 
      a.header-logo-link Пушка Подбор
    .header.col-lg-9 
      .header-info
        .container
          .row
            .header-socials.col-lg-4.d-flex.justify-content-end.align-items-center
              ul.header-socials__list
                li.header-socials__item 
                  a.header-socials__link(href="#")
                    i(class="header-socials-icon fab fa-vk fa-1.5x")
                li.header-socials__item 
                  a.header-socials__link(href="#")
                    i(class="header-socials-icon fab fa-instagram fa-1.5x") 
            .header-worktime.col-lg-4.d-flex.justify-content-center.align-items-center
              i(class="clock fa fa-clock fa-1x")
              .header-worktime__item Время работы - С 08 до 20
            .header-phone-cont.col-lg-4.d-flex.justify-content-start.align-items-center 
              a.header-phone(href="tel:+79817554101") +7 (981) 755 41 01
                i(class="header-socials-icon whatsapp fab fa-whatsapp fa-1x")

      include ../modules/nav

 
