.container-fluid.howitworks-cont
  .container.howitworks-wrap
    img.img-fluid.howitworks-left__img(src="img/car2-min.png" alt="car 2")
    .row
      .col-lg-12.text-center
        h2.howitworks-right__title Что проверяем?
    .row
      .col-lg-6.howitworks-left

      .col-lg-6.howitworks-right
        .row
          .col-lg-12.d-flex.flex-column.align-items-center.justify-content-center
            .col-lg-8
              button(type="button").howitworks-right__tab.btn.btn-lg.btn-block Документы
              button(type="button").howitworks-right__tab.btn.btn-lg.btn-block Кузов
              button(type="button").howitworks-right__tab.btn.btn-lg.btn-block Двигатель и электрику
              button(type="button").howitworks-right__tab.btn.btn-lg.btn-block Ходовую часть
              button(type="button").howitworks-right__tab.btn.btn-lg.btn-block Тормозную систему