.container-fluid.ourcustomers(id="customers")
  .container.d-flex.flex-column.justify-content-between
    .row
      .col-lg-12.text-center.ourcustomers-title
        h2 Наши клиенты
    .row.ourcustomers-slider__cont
      .col-lg-8.d-flex.justify-content-center
        .ourcustomers-slider__wrap.col-lg-12.d-flex.justify-content-center.align-items-center
          button.btn.ourcustomers-arrow.ourcustomers-arrow__left.js-slider-left
            i(class="icon-left-big")
          .ourcustomers-slider.d-flex
            .ourcustomers-items.d-flex.js-slider-items
              .ourcustomers-item.d-flex.justify-content-center.align-items-center
                img.img-fluid.ss(src="img/1car-min.jpg", alt="Разовый выезд")
              .ourcustomers-item.d-flex.justify-content-center.align-items-center
                img.img-fluid.ss(src="img/1car-min.jpg", alt="Разовый выезд")
              .ourcustomers-item.d-flex.justify-content-center.align-items-center
                img.img-fluid.ss(src="img/1car-min.jpg", alt="Разовый выезд")
          button.btn.ourcustomers-arrow.ourcustomers-arrow__right.js-slider-right
            i(class="icon-right-big")
      .col-lg-4.slider-desc__cont
        .slider-desc(style="color: black;") 
          .slider-title Клиент: 
            span.slider-text Алексей (Санкт - Петербург)
          .slider-title Автомобиль: 
            span.slider-text Nissan Maxima 2002 г.в.
          .slider-title Найден за: 
            span.slider-text 8 дней
          .slider-title Начальная цена: 
            span.slider-text 249000 р
          .slider-title Плюсы: 
            span.slider-text Богатая комплектация, родной пробег
          .slider-title Минусы: 
            span.slider-text Водительская верь, капот после покраски, сколы на капоте
          .slider-title Куплен за: 
            span.slider-text 235000р
