.container-fluid.ourcustomers
  .container
    .row
      .col-lg-12.text-center.ourcustomers-title
        h2 Наши клиенты
    .row.ourcustomers-slider__cont
      .col-lg-12.d-flex.justify-content-center.align-items-center
        button.ourcustomers-arrow.ourcustomers-arrow__left
        .ourcustomers-slider.d-flex.justify-content-center.align-items-center
          .ourcustomers-items.d-flex.justify-content-center.align-items-center
            .ourcustomers-item
              img.img-fluid(src="img/1car-min.jpg", alt="Разовый выезд")
            .ourcustomers-item
              img.img-fluid(src="img/1car-min.jpg", alt="Разовый выезд")
            .ourcustomers-item
              img.img-fluid(src="img/1car-min.jpg", alt="Разовый выезд")
        button.ourcustomers-arrow.ourcustomers-arrow__right