.container.ourworks-cont
  .row
    .col-lg-12.ourworks-title.text-center
      h2 Наши услуги и цены
  .card-deck
    .card.ourworks-card
      .card-body
        img.img-fluid(src="img/1car-min.jpg", alt="Разовый выезд")
        h4.card-title.text-center.ourworks-card__title Разовый выезд
        p.card-text
          | Разовый выезд специалиста на один автомобиль по вашему выбору.
        button(type="button").btn.btn.ourworks-btn заказать
    .card.ourworks-card
      .card-body
        img.img-fluid(src="img/1day-min.jpg", alt="Эксперт на день")
        h4.card-title.text-center.ourworks-card__title Эксперт на день
        p.card-text 
         | Вы подбираете 5-7 вариантов, которые вам нравятся, и берете с собой специалиста на целый рабочий день.
        button(type="button").btn.btn.ourworks-btn заказать
    .card.ourworks-card
      .card-body
        img.img-fluid(src="img/all-inclusive-min.jpg", alt="Подбор под ключ")
        h4.card-title.text-center.ourworks-card__title Подбор под ключ
        p.card-text
          | Мы составляем договор, в котором прописываем все важные вам параметры автомобиля. Мы сами занимаемся его поиском. Вы приезжаете уже на конечный вариант, проверяете и принимаете решение. На подобранные 
        button(type="button").btn.ourworks-btn заказать

