.container.ourworks-cont
  .row
    .col-lg-12.text-center
      h2 Наши услуги и цены
  .card-deck.d-flex.flex-row.justify-content-center
    .card
      .card-body
        img.img-fluid(src="img/car1-min.png", alt="")
        h4.card-title.text-center Эксперт на день
        p.card-text
          | Разовый выезд специалиста на один автомобиль по вашему выбору.
        button.ss(type="button").btn.btn.btn-block asdasd
    .card
      .card-body
        img.img-fluid(src="img/car1-min.png", alt="")
        h4.card-title.text-center Разовый выезд
        p.card-text 
         | Вы подбираете 5-7 вариантов, которые вам нравятся, и берете с собой специалиста на целый рабочий день.
        button.ss(type="button").btn.btn.btn-block asdasd
    .card
      .card-body
        img.img-fluid(src="img/car1-min.png", alt="")
        h4.card-title.text-center Подбор под ключ
        p.card-text
          | Мы составляем договор, в котором прописываем все важные вам параметры автомобиля. Мы сами занимаемся его поиском. Вы приезжаете уже на конечный вариант, проверяете и принимаете решение. На подобранные авто мы даем собственную гарантию.
        button.ss(type="button").btn.btn-block asdsa

