<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/main.css")
    //- link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

  body.body
    .wrapper
      header.header-wrap
        include pug/blocks/header
      main.main-wrap
        include pug/blocks/greetings
        include pug/blocks/howitworks
        include pug/blocks/features
        include pug/blocks/services
        include pug/blocks/ourcustomers
      footer.footer
        include pug/blocks/footer
    include pug/modules/popup
  //- script(src="js/libs.min.js") 
  script(src="js/bundle.js")
 
