<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    .wrapper
      header.header-wrap
        include pug/blocks/header
        include pug/blocks/header-second
      main.main-wrap
        include pug/blocks/howitworks
        include pug/blocks/features
        include pug/blocks/services
      footer
  script(src="js/libs.min.js") 
  script(src="js/bundle.js")
 
