.container-fluid.nav-cont
  .row
    .col-lg-12
      nav.nav-main.d-flex.justify-content-center
        ul.nav.nav-list
          li.nav-item
            a.nav-link.active(href='#!') преимущества
          li.nav-item
            a.nav-link(href='#!') что проверяем
          li.nav-item
            a.nav-link(href='#!') услуги
          li.nav-item
            a.nav-link(href='#!') отзывы
        button.nav-btn.btn Заказать подбор 
  